.full-width { 
    width: 100%; 
    font-family: cursive;
    mat-label {
        color: white;
    }
    ::ng-deep .mat-button-wrapper {
        color: white;
    }
    input {
        color: white;
    }
    .invalid {
       position: absolute;
        bottom: -23px;
        color: red;
    }
}